<div class="d-flex flex-column flex-md-row justify-content-md-between">
    <app-blog-image-item class="d-flex flex-row justify-content-center justify-content-md-start" #imageItems (onSelection)="onImageSelected($event)" [selectedId]="selectedId"></app-blog-image-item>
    <app-blog-image-item class="d-flex flex-row justify-content-center justify-content-md-start" #imageItems (onSelection)="onImageSelected($event)" [selectedId]="selectedId"></app-blog-image-item>
    <app-blog-image-item class="d-flex flex-row justify-content-center justify-content-md-start" #imageItems (onSelection)="onImageSelected($event)" [selectedId]="selectedId"></app-blog-image-item>
</div>