<div class="header">
    <div class="inner-header d-flex justify-content-between">
        <a routerLink="/pages/blog/list">
            <img class="d-none d-md-block" src="assets/images/logo-lg.png" alt="mcm">
        </a>
        <img class="d-block d-md-none" src="assets/images/logo-sm.png" alt="mcm">
        <div class="d-flex flex-row align-items-center">
            <a class="menu-item" routerLink="/pages/blog/list" routerLinkActive="active">Blogs</a>
            <a class="menu-item" routerLink="/pages/blog/create" routerLinkActive="active">Create Blog</a>
        </div>
    </div>
</div>
