@import 'src/assets/styles/layout';
@import 'src/assets/styles/variables';
@import 'src/assets/styles/mixins';

:host{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 1;
    @include box-shadow(0px, 10px, 20px, rgba(198,201,210,.25))
}
.header{
    height: $headerHeight;
    background: white;
    width: 100%;
    padding: 0px 15px;
    display: flex;
    justify-content: center;
    .inner-header{
        flex: 1 1 auto;
        max-width: $appContainerWidth;
        .menu-item{
            text-decoration: none;
            margin-right: 15px;
            color: $dull;
            &:last-child{
                margin-right: 0px;
            }
            &.active{
                color: $primary-color;
            }
        }
    }
}
